body{
margin-left:-0px;
margin-top:0px;
}
.dropdown{
position:reletive;
display:inline-block;
background-color:#129989;
padding:5px;
width:100px;
margin-left=-10px;
text-align:cener;
}
.content{
display:none;
position:absolute;
width:100px;
background-color:#126565;
}
.dropdown:hover .content{
display:block;
}
a{
background-color:green;
text-decoration:none;
width:100px;
display:block;
}

h1{
background-color:#FF33CD;
color:#DAF7A6;
font-family:'algerian';
font-size:70px;
width:1700px;
text-align:center;
}